@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');


*{
    margin: 0px;
}

header {
    display:flex;
    justify-content: space-between;
    background-color: gray;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-family: 'Bungee Spice', cursive;

}

a {
  all:unset;  
  cursor: pointer;
}

img {
    width: 15%;
}

.container {
display: flex;
margin: 10px;
gap: 100px; 
}

nav {
    display: flex;
    gap: 100px;
}